<form>
  <h1>Select Package:</h1>
  <input type="radio" name="price" value="$20" checked> Digital License $20<br>
  <input type="radio" name="price" value="$69" checked> Canvas Print $69<br>
  <input type="radio" name="price" value="$75" checked> Total Package $75<br>
  <h1>Credit Card Number:</h1>
  <input id ="card_num" type="text" maxlength="16" required><br>
  <input type="submit" onClick="checkValues()" value="Buy Now!">
</form>
<%= javascript_tag do %>
  function checkValues(){
    if($('#card_num').val() == 0){
    }else{
      alert("");
    }
  }
<% end %>
