Browse tags: <%= raw tag_links(Tag.all.map(&:name).join(', ')) %>
<% @images.each do |img| %>
  <h2>Image #<%= link_to img.id, img %></h2>
  <p>
    <strong>Image Title:</strong>
    <%= img.title %>
  </p>

  <p>
    <strong>Image Tags:</strong>
    <%= raw tag_links(img.all_tags) %>
  </p>

<% end %>


