
<%= will_paginate @images %>
<% @images.each do |img| %>
  <%= image_tag img.image.url(:large) %>
  <p>
    <strong>Image Title:</strong>
    <%= img.title %>
  </p>

  <p>
    <strong>Image Tags:</strong>
    <%= raw tag_links(img.all_tags) %>
  </p>

<% end %>


