<header class="upload-header">
  <div id="header-logo">
    <a href="/"><h1 class="header-left">Flotr</h1></a>
  </div>
  <h1 id="user-email" class="header-center">Upload</h1>
</header>


<%= render partial: 'form' %>
