<header>
  <div id="header-logo">
    <a href="/"><h1 class="header-left">Flotr</h1></a>
  </div>
  <h1 id="user-email" class="header-center"><%= current_user.email %></h1>
</header>

<div id="grid">
  <% @images.each do |img| %>
    <div class="grid-image">
      <%= link_to img do %>
        <%= image_tag img.image.url, :class => "grid-image" %>
      <% end %>
      <%= link_to img.title, img, :class => "grid-title" %>
    </div>
  <% end %>
</div>
